<%=  chg_select_send_data_create_javascript %>
<%= form_for @gamen, :url => { :action => "confirm" } do |f| %>
  <% if @gamen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gamen.errors.count, "error") %> prohibited this gamen from being saved:</h2>

      <ul>
      <% @gamen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class=field>
   <%= my_select :gamen, :select_value,
                 Gamen.select_data, @gamen.select_value %>

  </div>

  <div class=field>
   <%= render :partial => "chg_select1" ,
               :locals => {:default_value => @gamen.select1_value} %>
   <%= render :partial => "chg_select2" ,
               :locals => {:default_value => @gamen.select2_value} %>
   <%= render :partial => "chg_select3",
               :locals => {:default_value => @gamen.select3_value} %>
   <%= render :partial => "chg_select4",
               :locals => {:default_value => @gamen.select4_value} %>
  <div id="msg"> </div>
  </div>


  <div class="field">
    <%= f.label :title %><%=hissu%> <br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
