<h1>confirm</h1>

<p>
  <b>select:</b>
  <%= @gamen.select_value %><br>
  <%= my_label_from_hash Gamen.select_data, @gamen.select_value %>
</p>
<p>
  <b>chg_select:</b>
  <%= @gamen.select1_value %><br>
  <%= @gamen.select2_value %><br>
  <%= @gamen.select3_value %><br>
</p>

<p>
  <b>Title:</b>
  <%= @gamen.title %>
</p>

<p>
  <b>Body:</b>
  <%= @gamen.body %>
</p>

<%= link_to 'reedit',    :action => 'reedit' %>
<%= link_to 'create OK', :action => 'create' %> 

