<h1>New gamen</h1>

<%= form_for @gamen, :url => { :action => "confirm" } do |f| %>
  <% if @gamen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gamen.errors.count, "error") %> prohibited this gamen from being saved:</h2>

      <ul>
      <% @gamen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class=field>

   <%= my_select :gamen, :select_value,
                 Gamen.select_data, @gamen.select_value %>

  </div>

  <%=  chg_select_send_data_create_javascript @gamen.address_selecter %>

  <div class=field>
  <%= chg_select @gamen.address_selecter.ken_id,
               "gamen",
               "select1_value",
               @gamen.address_selecter.ken_hash,
               @gamen.select1_value %>

  <%= chg_select @gamen.address_selecter.sikugun_id,
               "gamen",
               "select2_value",
               @gamen.address_selecter.sikugun_hash(@gamen.select1_value),
               @gamen.select2_value %>

  <%= chg_select @gamen.address_selecter.machi_id,
               "gamen",
               "select3_value",
               @gamen.address_selecter.machi_hash(@gamen.select1_value,
                                                  @gamen.select2_value),
               @gamen.select3_value %>

  <div id="<%=@gamen.address_selecter.msg_id %>" > </div>
  郵便番号
    <%= f.text_field :zip1,:id=>@gamen.address_selecter.zip1_id ,:size=>3 %>-
    <%= f.text_field :zip2,:id=>@gamen.address_selecter.zip2_id ,:size=>4 %>
  </div>

  <div class="field">
    <%= f.label :title %><%=hissu%> <br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



